* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.article .article-header {
  font-size: 1.5rem;
  font-weight: 700;
}
.article .input-buttons {
  display: flex;
  gap: 10px;
}
.article .input-buttons button {
  padding: 10px;
  font-size: 1.3rem;
}